@use 'variables' as v;

body { 
    font-size: 1rem;
    font-family: v.$font;
    font-weight: 400;
    color: v.$clr-primary;
}

// grids and containers

.grid {
    display: grid;
    align-content: start;
    gap: 2rem;
}

.wrapper {
    margin: 0 1rem;
}

@media (min-width: 48rem) {
    .wrapper {
        margin: 0 2.5rem;
    }
}

@media (min-width: 64rem) {
    .wrapper {
        width: 90%;
        max-width: 69.375rem;
        margin: 0 auto;
    }
}

// links

.primary-link,
.secondary-link {
    max-width: max-content;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 1.77;
    border-radius: 0.375em;
}

.primary-link {
    padding: 0.75em 1.625em;
    background: v.$clr-primary-dark;
    color: v.$clr-white;
}

.primary-link:hover {
    background: v.$gradient;
}

.secondary-link {
    padding: 0.78em 1.625em 0.6875em;
    border: 2px solid v.$clr-primary-dark;
    color: v.$clr-primary-dark;
}

.secondary-link:hover {
    background-color: v.$clr-primary-dark;
    color: v.$clr-white;
}

@media (min-width: 48rem) {
    .primary-link,
    .secondary-link {
        font-size: 1rem;
    }
}