@use 'variables' as v;

body { 
    font-size: 1rem;
    font-family: v.$font;
    font-weight: 400;
    color: v.$clr-primary;
    background-color: v.$clr-secondary;
}

// grids and containers

.grid {
    display: grid;
    align-content: start;
    gap: 2rem;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 32rem;
}

@media (min-width: 48rem) {
    .wrapper {
        max-width: 44rem;
    }
}

@media (min-width: 75rem) {
    .wrapper {
        width: 90%;
        max-width: 69.375rem;
        margin: 0 auto;
    }
}

// links

.primary-link,
.secondary-link {
    max-width: max-content;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 1.77;
    border-radius: 0.375em;
}

.primary-link {
    font-size: 1.125rem;
    padding: 0.83em 1.72em;
    background: v.$clr-primary-dark;
    color: v.$clr-white;
}

.primary-link:hover {
    background: v.$gradient;
}

.secondary-link {
    font-size: .875rem;
    padding: 0.78em 1.625em 0.6875em;
    border: 1px solid v.$clr-primary-dark;
    color: v.$clr-primary-dark;
}

.secondary-link:hover {
    background-color: v.$clr-primary-dark;
    color: v.$clr-white;
}

@media (min-width: 48rem) {
    .secondary-link {
        font-size: 1rem;
    }
}